*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #92a8d1;
  }

header{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
  img {
    opacity: 0.6;
  }
  
  .menu{
    position: fixed;
    width: 100vw;
    top: 0;
  }

  .menu li{
    list-style: none;
  }
  
  .menu ul{
    display: flex;
    justify-content: space-around;
  }

  .menu a{
    display: block;
    padding: 10px 20px;
  }
  
  a{
    text-decoration: none;
  }
  
  a:hover{
    text-decoration: underline;
  }
  
  .site-title, .site-subtitle, .portfolio {
    text-align: center;
  }

  .img-portfolio {
    width: 15em;
  }

  section {
    display: flex;
    justify-content: space-between;
  }

  figcaption {
    text-align: center;
  }