*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: blueviolet;
    height: 100vh;
  }

header{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

  .menu{
    position: fixed;
    width: 100vw;
    top: 0;
    background-color: blueviolet;
  }

  .menu li{
    list-style: none;
  }
  
  .menu ul{
    display: flex;
    justify-content: space-around;
  }

  .menu a{
    display: block;
    padding: 10px 20px;
    color: white;
  }
  
  a{
    text-decoration: none;
  }
  
  a:hover{
    text-decoration: underline;
  }
  
  .site-title, .site-subtitle, .portfolio {
    text-align: center;
  }

  .site-title{
    size: 4em;
    font-family: 'Gloria Hallelujah', cursive;
  }

  .site-subtitle{
    font-family: 'Amatic SC', cursive;
  }

  .portfolio{
    color: white;
  }

  .img-portfolio {
    height: 150px;
    width: 200px;
  }

  section {
    display: flex;
    justify-content: space-between;
  }

  figcaption {
    text-align: center;
    color: white;
  }